# GCP 프로젝트 설정
project_id  = "your-gcp-project-id"
region      = "asia-northeast3"
zone        = "asia-northeast3-a"
environment = "dev"

# VM 인스턴스 설정
instance_name  = "your-instance-name"
machine_type   = "e2-medium"
boot_disk_size = 32

# 네트워크 설정
ssh_source_ranges = ["0.0.0.0/0"]

# 스토리지 설정
storage_class = "STANDARD"
cors_origins = [
  "your_domain.com"
]

# 서비스 계정
service_account_email = "service_account_email@developer.gserviceaccount.com"